body{
font-family:Arial, Helvetica, sans-serif;
background:#0f172a;
color:white;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.container{
text-align:center;
background:#1e293b;
padding:40px;
border-radius:10px;
}

#display{
font-size:60px;
margin-bottom:25px;
}

.inputs input{
width:70px;
padding:10px;
margin:5px;
text-align:center;
font-size:18px;
}

.buttons{
margin-top:20px;
}

button{
padding:10px 20px;
margin:5px;
border:none;
background:#38bdf8;
color:black;
font-weight:bold;
cursor:pointer;
border-radius:5px;
}

button:hover{
background:#0ea5e9;
}

#message{
margin-top:15px;
color:#f87171;
font-size:20px;
}