@import url("https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: hsla(0, 0%, 21%, 1);
  min-height: 100vh;
  background: linear-gradient(135deg, #9bb2e5, #698cbf);

  font-family: "Poppins", sans-serif;
}

.container {
  margin: 30px 25px;
}

#div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
  column-gap: 30px;
  flex-wrap: wrap;
  align-content: center;
}

.img {
  max-height: 100px;
}

.inner_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  text-align: center;

  /* background-color: aliceblue; */
  background-color: #d8edffa3;

  border: 1px solid black;

  border-radius: 8px;
  padding: 10px;
  /* max-width: 210px; */
  flex-basis: 210px;
  flex-grow: 1;
  min-height: 350px;
  overflow: auto;

  transition: all 0.2s ease;
}

.inner_div:hover {
  transform: scale(1.02);
  /* The soft drop shadow */
  box-shadow:
    0 0 0 1px #2b3a4a,
    /* 1st Shadow: Acts as the solid crisp border */ 4px 4px 10px
      rgba(0, 0, 0, 0.315);

  /* The crisp dark outline seen on the cards */
  border: 1px solid #2d2d2d;
  background-color: hsla(212, 71%, 89%, 0.938);

  cursor: pointer;
}

.dis {
  font-size: small;
}

.caption {
  font-weight: bold;
  /* color: black; */
}

a {
  text-decoration: none;
  color: black;
}

.GitHub {
  order: 1;
}

.Instagram {
  order: 2;
}
.Google {
  order: 3;
}
.YouTube {
  order: 4;
}

.Spotify {
  order: 5;
}

.LinkedIn {
  order: 6;
}

.Amazon {
  order: 7;
}

.Netflix {
  order: 8;
}
.Facebook {
  order: 9;
}

.Twitter {
  order: 10;
}

#heading {
  text-align: center;
  margin: 20px;
}
